*
!/commands/
!/commands/*/
!/commands/*/.gitignore
!/commands/*/*.ps1
!/.gitignore
!/check_dependencies.ps1
!/explorer.file.menu.yaml
!/install.ps1
!/install_dependencies.ps1
!/install_dependencies_python.ps1
!/install_menu.ps1
!/packages.dsc.yaml
!/packages.json
!/readme.md
